<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ name }}</title>
</head>
<body background = "http://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-031.jpg">
    <div align="center">
    <h1> About Me </h1>
    </div>

    <div align = "center">
    {% load static %}
    <img src = "{% static 'DSC_5311.JPG' %}" alt = "Image of Dhita" width = "200" height = "200">
    </div>

    <div align = "center">
        <h2>A Little Thing About Me</h2>
        <p>Name : Dhita Putri Pratama</p>
        <p>DOB  : August 10th 2000 </p>
        <p>POB  : Jakarta, Indonesia</p>
        <p>NPM  : {{ npm }}</p>

        <h2>A Little More About Me</h2>
        <p>Hello! My name is {{ name }}, but you can call me Dhita. I am {{ age }} years old. I live in Jagakarsa St.</p>
        <p>No. 64, Lenteng Agung, South of Jakarta with my parents. I was born in Jakarta on Thursday, August 10th 2000.</p>
        <p>I'm a Computer Science Major student at Universitas Indonesia with College ID number or (NPM in Bahasa) {{ npm }}. </p>
        <p>My hobbies are sleeping, listening to music, and reading. My favourite singers or Bands are Aurora, Seafret and ONE OK ROCK.</p>
        <p>I like to listen to their musics a lot. I'm an only child and i don't have any pet. I have two friends who sat</p>
        <p>in front of and behind me. They are Jasmine Nur Ariij and Irwanto. Here they are!</p>

        <h2>Jasmine Nur Ariij</h2>
        <img src ="http://www.about.tarung2017.com/foto/613.jpg" alt = "Jasmine Nur Ariij" width = "200" height = "200">
        <p>Jasmine was born in Jakarta on Wednesday, March 3rd 1999. She is a Computer Science major student at Faculty of</p>
        <p>Computer Science, Universitas Indonesia. She loves to listen to music. Also, she loves cat but she can't take care</p>
        <p>of cats well. She lives in Kramat Jati with her parents. She claims herself as a patient person.</p>

        <h2>Irwanto</h2>
        <img src = "http://about.tarung2017.com/foto/417.jpg" alt = "Irwanto" width = "200" height = "200">
        <p>As for Irwanto, he was born in Medan on Friday, February 19th 1999. He is a Computer Science major student at</p>
        <p>Faculty of Computer Science, Universitas Indonesia as well. He loves to watch tv series and movies also read books</p>
    </div>
</body>
</html>
